:root {
    --katek-blue: #00ffff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(50, 50, 50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headers-selection {
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headers-selection button {
    background-color: transparent;
    transition: ease 0.1s;
    color: white;

    padding: 5px 12px;

    border: 1px solid var(--katek-blue);
    border-radius: 3px;
}

.headers-selection button:hover {
    background-color: var(--katek-blue);
    transition: ease 0.1s;
    color: black;
    
    cursor: pointer;
}

#selection-table {
    margin-bottom: 20px;
}

#selection-table tr td {
    padding: 6px 12px;

    border-radius: 1px;

    background-color: rgb(90, 90, 90);
    transition: background-color ease 0.1s;
}

#selection-table tr td:hover {
    background-color: rgb(120, 120, 120);
    transition: background-color ease 0.1s;

    cursor: pointer;
}


#selection-table tbody tr td label {
    color: white;
}

#selection-table tbody tr td label:hover {
    cursor: pointer;
}

#selection-table .sqr {
    width: 20px;
    height: 20px;
}

#selection-table .sqr:hover {
    background-color: rgb(0, 125, 125);
    transition: background-color ease 0.1s;
}

#selection-table .selected {
    background-color: #00ffff;
    transition: background-color ease 0.1s;
}

.arrows button {
    color: white;
    background-color: transparent;

    border: none;

    margin-bottom: 4px;

    font-size: 15px;
}

.arrows button:hover {
    border: 1px solid var(--katek-blue);
    border-radius: 3px;

    margin-bottom: 3px;
    
    cursor: pointer;
}

.main-table th {
    background-color: #6a6a6a;

    padding: 5px 10px;
}

.main-table td {
    text-align: left;

    background-color: rgb(208, 208, 208);

    padding: 5px 10px;
    margin: 5px 6px;
}

.main-table td:hover {
    background-color: rgb(140, 140, 140);
    transition: background-color ease 0.1s;

    cursor: pointer;
}