body {
    background-color: #303030;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
    margin-top: 20px;
}

table tr td {
    padding: 7px 15px;

    background-color: rgb(90, 90, 90);
    transition: background-color ease 0.1s;
}

table tr td:hover {
    background-color: rgb(120, 120, 120);
    transition: background-color ease 0.1s;

    cursor: pointer;
}

table tbody tr td input[type="checkbox"] {
}

table tbody tr td label {
    color: white;
}

table tbody tr td label:hover {
    cursor: pointer;
}

.sqr {
    width: 30px;
    height: 30px;
}

.sqr:hover {
    background-color: rgb(0, 125, 125);
    transition: background-color ease 0.1s;
}

.selected {
    background-color: #00ffff;
    transition: background-color ease 0.1s;
}

#showRes {
    color: white;
    transition: color ease 0.1s;
    font-size: 18px;

    background-color: transparent;
    transition: background-color ease 0.1s;

    border: 1px solid #00ffff;
    border-radius: 3px;
    
    margin-top: 30px;
    padding: 5px 10px;
}

#showRes:hover {
    color: black;
    transition: color ease 0.1s;;

    background-color: #00ffff;
    transition: background-color ease 0.1s;

    cursor: pointer;
}

#filters-form {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#filters-form div {
    display: flex;
    flex-direction: column;

    margin: 15px 15px;
}

#filters-form div label {
    color: white;
}

#filters-form div input {
    background-color: rgb(71, 71, 71);
    transition: background-color ease 0.1s;

    color: white;
    font-family: 'Courier New', Courier, monospace;

    padding: 5px 10px;

    border: none;
    border-bottom: 1px solid #00ffff;
    border-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#filters-form div input:focus {
    outline: none;
}

#filters-form div button {
    background-color: transparent;
    transition: background-color ease 0.1s;

    color: white;

    border: 1px solid #00ffff;
    border-radius: 3px;

    padding: 2px 6px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#filters-form div button:hover {
    background-color: #00ffff;
    transition: background-color ease 0.1s;

    cursor: pointer;
}